body{
  margin-top:70px;
  font-size:16px;
}

#wtf{
  font-size: 1.5em;
}

,h2,h3,h4,h5,h6{
  font-family:'Josefin Sans', cursive;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

.ul2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em;
}


.quote{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  
}

.navbar-default{
  background:#d4d4dc67;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline
}

.navbar-default {
  background-color:#fdfdff00;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-brand{
  font-size:20px;
  color:#0c4668;
  font-weight:bold;
  font-family: 'Yesteryear', cursive;
}

#showcase{
  margin: 100px;
}

#showcase {
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:100%;
  margin-left:-80px;
  margin-top: 20px;
  
}
.col-md-6{
  margin-top:40px;
}

#showcase .showcase-right{
  margin-top:0px;
}

#testimonial{
  background:#3a6883;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:60px;
  margin-bottom: 60px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Yesteryear', cursive;
  color:white;
}

#testimonial2{
  color: white;
  padding: 0px 0 0px 0;
  text-align:center;
  margin-top:100px;
  margin-bottom: 10px;
  background: #3a6883;
}

#I{
  margin-bottom: 38px;
  font-size: 1.2em;
}

#testimonial3{
  color: white;
  padding: 0px 0 0px 0;
  text-align:center;
  margin-top:100px;
  margin-bottom: 10px;
  background: #3a6883;
}

#testimonial p.customer{
  font-size:20px;
  color:#3a6883;
  margin: 0;
}

#info1 .info-right{
  margin-top:90px;
  
}
#info1{
  margin-bottom: 38px;
  
}

#info2{
  
  margin:80px 0 80px 0;
}

/*Image2 form*/
#img2{
  
  width:80%;
  height: 80%;
  margin-left: -50px;
  
  
}

#contact{
  background:url(../img/image3.jpg);
  padding:40px;
  color:#fff;
  border-top:#a7e6e673 4px solid;
  border-bottom:#a7e6e677 4px solid;
  margin-top: 200px;
}

footer{
  padding:30px;
}

.{
  
  font-family: 'Josefin Sans';
  margin-bottom: 0 px;
}


/*experience pro*/


.sujet{
  margin: 30px;
  text-decoration: underline;
  color: #0c4668;
}

/*top particles animation*/

#particles-js{
  
  background-image: url(/img/mac.png);
  margin-top: -70px;
}

#hello{
  text-align: center;
  margin-top: -20px;
}


/*Icons*/

.fab {
  position: absolute  ;
  top: 520px;
  left:150px;  
  color: white  
}

.fas {
  position: absolute  ;
  top: 610px;
  left:150px;  
  color: white  
}

#git-acc{
  
    position: absolute  ;
    top: 520px;
    left:230px;   
}

#g-acc{
  
  position: absolute  ;
  top: 606px;
  left:230px;   
}


#git{
  color: white;
}


h3{
  color: #e9eef1;
}


#hello2{
  color: white;
  font-size: 5em;
  position: absolute  ;
  top: 320px;
  left:890px;   

}

/*new button*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 1.5s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.6em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/* Other style  
body {
  padding: 2%;
}

p {
  padding: 2%;
  background: #fff9c6;
  color: #c7b27e;
  border: 1px solid #fce29f;
  border-radius: .25em;
}

/*border css transition*/



/*hover text under line transition*/
            /*black*/

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: #000;
  transition: width 1s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width 1s;
}

/*hover text under line transition*/
            /*white*/

.cool-link2 {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.cool-link2::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: white;
  transition: width 1s;
}

.cool-link2:hover::after {
  width: 100%;
  transition: width 1s;
}






/*coloring navbar-fonts*/
#nav-fonts{
  color: #000000;
}



/*img transition animation*/

.hover figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(10%) blur(1px);
}

.hover2 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover2 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



/*projects pic*/
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: rgba(0, 139, 186, 0.561);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}