body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Josefin Sans', cursive;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

.ul2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em;
}


.quote{
  font-family: 'Josefin Sans', sans-serif;
  
}

.navbar-default{
  background:#d4d4dc67
  border:0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline
}

.navbar-default {
  background-color:#d4d4dc3f;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-brand{
  font-size:20px;
  color:#0c4668;
  font-weight:bold;
  font-family: 'Yesteryear', cursive;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:100%;
  margin-left:-80px;
  margin-top: 20px;
  
}
.col-md-6{
  margin-top:40px;
}

#showcase .showcase-right{
  margin-top:0px;
}

#testimonial{
  background:#425763;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
  margin-bottom: 40px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Yesteryear', cursive;
  color:#000;
}

#testimonial2{
  color: white;
  padding: 0px 0 0px 0;
  text-align:center;
  margin-top:10px;
  margin-bottom: 10px;
  background: #425763;
}

#testimonial p.customer{
  font-size:20px;
  color:#666;
  margin: 0;
}

#info1 .info-right{
  margin-top:90px;
  
}
#info1{
  margin-bottom: 38px;
  
}

#info2{
  
  margin:80px 0 80px 0;
}

/*Image2 form*/
#img2{
  
  width:80%;
  height: 80%;
  margin-left: -50px;
  
  
}

#contact{
  background:url(../img/image3.jpg);
  padding:40px;
  color:#fff;
  border-top:#a7e6e673 4px solid;
  border-bottom:#a7e6e677 4px solid;
  margin-top: 80px;
}

footer{
  padding:30px;
}

.h1{
  
  font-family: 'Josefin Sans';
  margin-bottom: 0 px;
}


/*experience pro*/


.sujet{
  margin: 30px;
  text-decoration: underline;
  color: #0c4668;
}

/*top particles animation*/

#particles-js{
  height: 100%;
  background-image: url(/img/mac.png);
  margin-top: -20px;
}

#hello{
  text-align: center;
  margin-top: -20px;
}


/*Icons*/

.fab {
  position: absolute  ;
  top: 540px;
  left:690px;  
  color: white
   
}
h3{
  color: #e9eef1;
}

.centered{
  text-align: center;
}

/*fwc animation*/
