body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Josefin Sans', cursive;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}

.ul2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em;
}


.quote{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  
}

.navbar-default{
  background:#d4d4dc67
  border:0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline
}

.navbar-default {
  background-color:#d4d4dc3f;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-brand{
  font-size:20px;
  color:#0c4668;
  font-weight:bold;
  font-family: 'Yesteryear', cursive;
}

#showcase{
  margin: 100px;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:100%;
  margin-left:-80px;
  margin-top: 20px;
  
}
.col-md-6{
  margin-top:40px;
}

#showcase .showcase-right{
  margin-top:0px;
}

#testimonial{
  background:#3a6883;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:60px;
  margin-bottom: 60px;
}

#testimonial p{
  font-size:32px;
  font-family: 'Yesteryear', cursive;
  color:white;
}

#testimonial2{
  color: white;
  padding: 0px 0 0px 0;
  text-align:center;
  margin-top:100px;
  margin-bottom: 10px;
  background: #3a6883;
}

#testimonial p.customer{
  font-size:20px;
  color:#3a6883;
  margin: 0;
}

#info1 .info-right{
  margin-top:90px;
  
}
#info1{
  margin-bottom: 38px;
  
}

#info2{
  
  margin:80px 0 80px 0;
}

/*Image2 form*/
#img2{
  
  width:80%;
  height: 80%;
  margin-left: -50px;
  
  
}

#contact{
  background:url(../img/image3.jpg);
  padding:40px;
  color:#fff;
  border-top:#a7e6e673 4px solid;
  border-bottom:#a7e6e677 4px solid;
  margin-top: 200px;
}

footer{
  padding:30px;
}

.h1{
  
  font-family: 'Josefin Sans';
  margin-bottom: 0 px;
}


/*experience pro*/


.sujet{
  margin: 30px;
  text-decoration: underline;
  color: #0c4668;
}

/*top particles animation*/

#particles-js{
  height: 100%;
  background-image: url(/img/mac.png);
  margin-top: -20px;
}

#hello{
  text-align: center;
  margin-top: -20px;
}


/*Icons*/

.fab {
  position: absolute  ;
  top: 520px;
  left:150px;  
  color: white  
}

.fas {
  position: absolute  ;
  top: 610px;
  left:150px;  
  color: white  
}

#git-acc{
  
    position: absolute  ;
    top: 520px;
    left:230px;   
}

#g-acc{
  
  position: absolute  ;
  top: 606px;
  left:230px;   
}


#git{
  color: white;
}


h3{
  color: #e9eef1;
}


#hello2{
  color: white;
  font-size: 5em;
  position: absolute  ;
  top: 250px;
  left:880px;   

}

/*new button*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 1.5s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0.6em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/* Other style  
body {
  padding: 2%;
}

p {
  padding: 2%;
  background: #fff9c6;
  color: #c7b27e;
  border: 1px solid #fce29f;
  border-radius: .25em;
}

/*border css transition*/

